<div>
  <h4>Shipping information</h4>
  <form>
    
    <div>
      <label>First Name</label>
      <input type="text" placeholder="first name">
    </div>

    <div>
      <label>Last Name</label>
      <input type="text" placeholder="last name">
    </div>

    <div>
      <label>Address</label>
      <input type="text" placeholder="street address">
    </div>

    <div>
      <label>House Number</label>
      <input type="text" placeholder="house number">
    </div>

    <div>
      <label>Postcode</label>
      <input type="text" placeholder="postcode">
    </div>

    <div>
      <label>City</label>
      <input type="text" placeholder="city">
    </div>

    <button type="submit">Submit order</button>

  </form>
</div>
