<section>
  <div>
    <h1>Titile of landing page</h1>
    <h3>sub title of landing page</h3>
    <button>Start today</button>
  </div>
  <hr />
</section>

<section>
  <h2>Features</h2>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:200px;height:auto;" alt="image 1"/>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:200px;height:auto;" alt="image 2"/>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:200px;height:auto;" alt="image 3"/>
  <hr />
</section>

<section>
  <h2>More features</h2>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:150px;height:auto;" alt="image 1"/>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:150px;height:auto;" alt="image 2"/>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:150px;height:auto;" alt="image 3"/>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:150px;height:auto;" alt="image 4"/>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:150px;height:auto;" alt="image 1"/>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:150px;height:auto;" alt="image 2"/>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:150px;height:auto;" alt="image 3"/>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:150px;height:auto;" alt="image 4"/>
  <hr />
</section>

<section>
  <h2>Cases</h2>
  <div>
    <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:200px;height:auto;" alt="image 1"/>
    <p>Vestibulum pretium hendrerit sem. Curabitur sit amet sapien eu orci iaculis tristique vel et risus. Nulla in lacus posuere, tincidunt turpis a, maximus nisi. Nulla volutpat tristique sagittis. Donec semper at massa ut congue. Morbi congue sollicitudin mauris sed molestie. Quisque quis rhoncus justo. Duis commodo efficitur maximus. Maecenas nisi dolor, dictum at sagittis eget, aliquam vitae erat. Fusce eleifend nec diam ut rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum suscipit quam quis metus mattis bibendum et vitae libero.</p>
  </div>
  <div>

    <p>Vestibulum pretium hendrerit sem. Curabitur sit amet sapien eu orci iaculis tristique vel et risus. Nulla in lacus posuere, tincidunt turpis a, maximus nisi. Nulla volutpat tristique sagittis. Donec semper at massa ut congue. Morbi congue sollicitudin mauris sed molestie. Quisque quis rhoncus justo. Duis commodo efficitur maximus. Maecenas nisi dolor, dictum at sagittis eget, aliquam vitae erat. Fusce eleifend nec diam ut rutrum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum suscipit quam quis metus mattis bibendum et vitae libero.</p>
    <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:200px;height:auto;" alt="image 2"/>
  </div>
  <hr />
</section>

<section>
  <h2>Still interested</h2>
  <div>
    <p>Vestibulum pretium hendrerit sem. Curabitur sit amet sapien eu orci iaculis tristique vel et risus. Nulla in lacus posuere, tincidunt turpis a, maximus nisi.</p>
  </div>
  <div>
    <button>Read more</button>
    <button>Start today</button>
  </div>
  <hr />
</section>

<section>
  <footer>
    <p>Landing Page copyright 2016</p>
  </footer>
</section>
