<section>
  <div>
    <h1>Titile of landing page</h1>
    <h3>sub title of landing page</h3>
    <button>Start today</button>
  </div>
  <hr />
</section>

<section>
  <h2>Features</h2>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:200px;height:auto;" alt="image 1"/>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:200px;height:auto;" alt="image 2"/>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:200px;height:auto;" alt="image 3"/>
  <hr />
</section>
