<p>List of items</p>
<hr>

<section>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:200px;height:auto;">
  <h1>Toyota MR2</h1>
  <h4>1984 - 2007</h4>
  <h4>112 hp</h4>
  <p>Conceived as a small, economical and sporty car, the MR2 employed straightforward design elements, including MacPherson strut front and rear suspensions and transverse-mounted inline-four engines.
    The name MR2 stands for either "mid-ship, run-about, 2-seater" or "mid-engine, rear-wheel-drive, 2-seater.</p>
  <hr>
</section>

<section>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:200px;height:auto;">
  <h1>Buick Regal</h1>
  <h4>1973–2004</h4>
  <h4>245 hp</h4>
  <p>The Buick Regal is an upscale mid-size car that was first introduced by Buick for the 1973 model year. North American production ended in 2004 and began again in 2011. For the 2011 model year,
    Buick re-introduced the Regal to the North American market, positioned as an upscale sport sedan.</p>
  <hr>
</section>

<section>
  <img src="http://semantic-ui.com/images/wireframe/image.png" style="width:200px;height:auto;">
  <h1>Chevrolet Camaro IROC-Z</h1>
  <h4>1981-1992</h4>
  <h4>145 hp</h4>
  <p>The third-generation Chevrolet Camaro was introduced for the 1982 model year by Chevrolet. It continued to use General Motors's F-body platform and produced a "20th Anniversary Commemorative Edition" for 1987 and "25th Anniversary Heritage Edition" for 1992. These were also the first Camaros with factory fuel injection, four-speed automatic transmissions, five-speed manual transmissions, four-cylinder engines, 16-inch wheels, and hatchback bodies.</p>
  <hr>
</section>
