<div class="jumbotron">
  <h1>Templates for various types of webpages</h1>
  <p>Select one of elements below</p>
</div>

<div class="row">
  <div>
    <a ui-sref="LandingPage">
    <h4>Landing Page</h4>
    <p>
      Template for standard landing page. Hero section, two columns, four columns of features, closing paragraph.
    </p>
      </a>
  </div>

  <div>
    <a ui-sref="Portfolio">
      <h4>Portfolio Page</h4>
      <p>
        Template for portfolio page. Title, list of cards with titles and descriptions.
      </p>
    </a>
  </div>

  <div>
    <a ui-sref="Article">
      <h4>Article Page</h4>
      <p>
        Template for article page. Title, opening paragraph, following text paragraphs
      </p>
    </a>
  </div>

  <div>
    <a ui-sref="Form">
      <h4>Form Page</h4>
      <p>
        Template for form page. Title of form, list of input fields. Submit and cancel button
      </p>
    </a>
  </div>

  <div>
    <a ui-sref="Login">
      <h4>Login Page</h4>
      <p>
        Template for login page. Title, list of login input fields and submit button.
      </p>
    </a>
  </div>

  <div>
    <a ui-sref="Calendar">
      <h4>Calendar Page</h4>
      <p>
        Template for calendar page. Title of month, title of year, list of days.
      </p>
    </a>
  </div>

  <div>
    <a ui-sref="Table">
      <h4>Table Page</h4>
      <p>
        Template for table of data page. Title, list of rows with data.
      </p>
    </a>
  </div>

  <div>
    <a ui-sref="ItemsList">
      <h4>List of items Page</h4>
      <p>
        Template for list of items page. Title of list, list of short texts with secondary text and images.
      </p>
    </a>
  </div>

</div>
