<h1>Portfolio</h1>
<h2>Monsters</h2>
<hr>
<section>
  <img src="" />
  <h3>Mimic</h3>
  <h4>beast</h4>
  <p>A mimic can have almost any dimensions, but usually is not more than 10 feet long. A typical mimic has a volume of 150 cubic feet (5 feet by 5 feet by 6 feet) and weighs about 4,500 pounds.</p>
  <p>Attack</p>
  <p>+8</p>
  <p>Damage</p>
  <p>1</p>
  <hr>
</section>

<section>
  <img src="" />
  <h3>Naga</h3>
  <h4>beast</h4>
  <p>All nagas have long, snakelike bodies covered with glistening scales, and more or less human faces. They range in length from 10 to 20 feet and weigh from 200 to 500 pounds. The eyes of a naga are bright and intelligent, burning with an almost hypnotic inner light.</p>
  <p>Attack</p>
  <p>+7</p>
  <p>Damage</p>
  <p>1</p>
  <hr>
</section>

<section>
  <img src="" />
  <h3>Cloaker</h3>
  <h4>beast</h4>
  <p>When resting or lying in wait, these creatures are almost impossible to distinguish from common black cloaks (the cloaker’s ivory claws look very much like bone clasps). Only when it unfurls does the horrific nature of the creature become apparent.</p>
  <p>Attack</p>
  <p>+7</p>
  <p>Damage</p>
  <p>2</p>
  <hr>
</section>

<section>
  <img src="" />
  <h3>Cauchemar</h3>
  <h4>beast</h4>
  <p>The cauchemar is a horrible, especially malevolent version of a nightmare. The sight of one of these great horrors bearing down is enough to shake the heart of the boldest champion.</p>
  <p>Attack</p>
  <p>+11</p>
  <p>Damage</p>
  <p>2</p>
  <hr>
</section>

<section>
  <img src="" />
  <h3>Skull lord</h3>
  <h4>beast</h4>
  <p>Three-headed skeletal creature that commands lesser undead. It consumes own skulls during fight.</p>
  <p>Attack</p>
  <p>+10</p>
  <p>Damage</p>
  <p>2</p>
  <hr>
</section>
